
body > header{
    border: 0 solid red;
    height: 3rem;
    display: flex;
    align-items: center;
    input{display:none ;}
    label{
        border: 0 solid yellow;
        width: 3rem;
        height: 3rem;
        position: fixed;
        cursor: pointer;
        div{
            transition: .333s;
            background-color: black;
            height: 5px;
            width: 100%;
            border-radius: 2.5px;
            position: absolute;
           &:nth-child(1){
            top:calc(20% - 2.5px);
           } 
           &:nth-child(2){
            top:calc(50% - 2.5px);

        } 
        &:nth-child(3){
            top:calc(80% - 2.5px);
        } 
        }
    }

    nav{display: none;
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        margin-top: 3.5rem;
        ul{
            list-style-type: none;
        }
}
     
    #toggler:checked ~ nav{
        display: block;
    }
    #toggler:checked ~ label{
        div{
            &:nth-child(1){
                transform: rotate(45deg);
                top: calc(50% - 2.5px)
            }
            &:nth-child(2){
                opacity: 0;
            }
            &:nth-child(3){
                transform: rotate(-45deg);
                top: calc(50% - 2.5px)
            }
        }
    }

    h1{margin: 0 0 0 3.5rem;}

}

@media (min-width:768px) {
    label{
        display: none;
    }
    nav{
       position: static;
       margin:0;
       display: flex;
       ul{
        width: 100%;
        list-style-type: none;
        display: flex;
        justify-content: center;
        gap: 1rem;
    }
   } 
}